# Exercise Level 1

#### 1 Open the python interactive shell and do the following operations. The operands are 3 and 4. addition(+), subtraction(-), multiplication(*), modulus(%), division(/), exponential(**) and floor division operator(//)

In [3]:
# Operands
operand1 = 3
operand2 = 4

# Addition
addition_result = operand1 + operand2
print("Addition:", addition_result)

# Subtraction
subtraction_result = operand1 - operand2
print("Subtraction:", subtraction_result)

# Multiplication
multiplication_result = operand1 * operand2
print("Multiplication:", multiplication_result)

# Modulus
modulus_result = operand1 % operand2
print("Modulus:", modulus_result)

# Division
division_result = operand1 / operand2
print("Division:", division_result)

# Exponential
exponential_result = operand1 ** operand2
print("Exponential:", exponential_result)

# Floor Division
floor_division_result = operand1 // operand2
print("Floor Division:", floor_division_result)

Addition: 7
Subtraction: -1
Multiplication: 12
Modulus: 3
Division: 0.75
Exponential: 81
Floor Division: 0

##### 2 Write strings on the python interactive shell. The strings are the following: Your name, Your family name, Your country and I am enjoying 30 days of python

In [4]:
# Strings
name = "Halima"
family_name = "Mahmoud"
country = "Nigeria"
enjoying_python = "I am enjoying 30 days of Python"

# Print the strings
print("Name:", name)
print("Family Name:", family_name)
print("Country:",country)
print("Python Enjoyment:", enjoying_python)

Name: Halima
Family Name: Mahmoud
Country: Nigeria
Python Enjoyment: I am enjoying 30 days of Python

#### 3 Check the data types of the following data: 10, 9.8, 3.14, 4 - 4j, ['Asabeneh', 'Python', 'Finland'], Your name, Your family name, Your country

In [6]:
# Data types
data_1 = 10
data_2 = 9.8
data_3 = 3.14
data_4 = 4 - 4j
data_5 = ['Asabeneh', 'Python', 'Finland']
name = "Halima"
family_name = "Mahmoud"
country = "Nigeria"

# Check data types
print("Type of data_1:", type(data_1))
print("Type of data_2:", type(data_2))
print("Type of data_3:", type(data_3))
print("Type of data_4:", type(data_4))
print("Type of data_5:", type(data_5))
print("Type of name:", type(name))
print("Type of family_name:", type(family_name))
print("Type of country:", type(country))

Type of data_1: <class 'int'>
Type of data_2: <class 'float'>
Type of data_3: <class 'float'>
Type of data_4: <class 'complex'>
Type of data_5: <class 'list'>
Type of name: <class 'str'>
Type of family_name: <class 'str'>
Type of country: <class 'str'>

# Exercise Level 2

In [7]:
# Integer
integer_number = 150000

# Float
float_number = 15000.6678

# Complex
complex_number = 1 + 3j
# String
string_value = "Halima is 50 years old"

# Boolean
boolean_value = True

# List
list_values = [1, 2, 3, 'a', 'b', 'c']

# Tuple
tuple_values = ["'Asabeneh', 'Pawel', 'Brook', 'Abraham', 'Lidiya, 5, 'x', 'y'"]

# Set
set_values = {1, 2, 3, 2, 1}  

# Dictionary
dictionary_values = {'name': 'Halima', 'age': 50, 'country': 'Nigeria'}

# Print the values and their types
print("Integer:", integer_number, type(integer_number))
print("Float:", float_number, type(float_number))
print("Complex:", complex_number, type(complex_number))
print("String:", string_value, type(string_value))
print("Boolean:", boolean_value, type(boolean_value))
print("List:", list_values, type(list_values))
print("Tuple:", tuple_values, type(tuple_values))
print("Set:", set_values, type(set_values))
print("Dictionary:", dictionary_values, type(dictionary_values))

Integer: 150000 <class 'int'>
Float: 15000.6678 <class 'float'>
Complex: (1+3j) <class 'complex'>
String: Halima is 50 years old <class 'str'>
Boolean: True <class 'bool'>
List: [1, 2, 3, 'a', 'b', 'c'] <class 'list'>
Tuple: ["'Asabeneh', 'Pawel', 'Brook', 'Abraham', 'Lidiya, 5, 'x', 'y'"] <class 'list'>
Set: {1, 2, 3} <class 'set'>
Dictionary: {'name': 'Halima', 'age': 50, 'country': 'Nigeria'} <class 'dict'>

#### 2

In [8]:

import math

# Coordinates of the points
x1, y1 = 2, 3
x2, y2 = 10, 8

# Euclidean distance formula
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Print the result
print("Euclidean Distance:", distance)

Euclidean Distance: 9.433981132056603