### EXERCISE LEVEL 1

##### QUESTION 1

In [1]:
# Using for loop
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

##### QUESTION 2

In [2]:
# Using for loop
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

##### QUESTION 3

In [3]:
# Using a loop to print a triangle
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

In [4]:
# Using a loop to print a triangle
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

##### QUESTION 4

In [5]:
# Using nested loops to create a pattern
for _ in range(8):
    for _ in range(8):
        print("#", end=" ")
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

##### QUESTION 5

In [6]:
# Printing the multiplication table pattern
for i in range(11):
    result = i * i
    print(f"{i} x {i} = {result}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

##### QUESTION 6

In [7]:
# Iterating through the list and printing out the items
tech_stack = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in tech_stack:
    print(item)

Python
Numpy
Pandas
Django
Flask

##### QUESTION 7

In [8]:
# Using for loop to iterate from 0 to 100 and print even numbers
for number in range(0, 101, 2):
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

##### QUESTION 8

In [9]:
# Using for loop to iterate from 0 to 100 and print odd numbers
for number in range(1, 101, 2):
    print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### EXERCISE LEVEL 2

#### QUESTION 1

In [10]:
# Using for loop to iterate from 0 to 100 and calculate the sum
sum_of_numbers = 0
for number in range(101):
    sum_of_numbers += number

print("Sum of numbers from 0 to 100:", sum_of_numbers)

Sum of numbers from 0 to 100: 5050

#### QUESTION 2

In [11]:
# Using for loop to iterate from 0 to 100 and calculate the sum of evens and odds
sum_of_evens = 0
sum_of_odds = 0

for number in range(101):
    if number % 2 == 0:
        sum_of_evens += number
    else:
        sum_of_odds += number

print("Sum of even numbers from 0 to 100:", sum_of_evens)
print("Sum of odd numbers from 0 to 100:", sum_of_odds)

Sum of even numbers from 0 to 100: 2550
Sum of odd numbers from 0 to 100: 2500

#### EXERCISE LEVEL 3

### QUESTION 1

In [12]:
# List of countries
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)',
    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
    'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
    'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
    'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan',
    'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
    'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
    'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru',
    'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
    'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe',
    'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
    'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
    'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
    'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
    'Zimbabwe'
]

# Extract countries containing the word 'land'
countries_with_land = [country for country in countries if 'land' in country.lower()]

# Print the result
print("Countries containing the word 'land':")
for country in countries_with_land:
    print(country)

Countries containing the word 'land':
Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

#### QUESTION 2

In [13]:
# Fruit list
fruits = ['banana', 'orange', 'mango', 'lemon']

# Reverse the order using a loop
reversed_fruits = []
for i in range(len(fruits) - 1, -1, -1):
    reversed_fruits.append(fruits[i])

# Print the reversed list
print("Reversed Fruits:", reversed_fruits)

Reversed Fruits: ['lemon', 'mango', 'orange', 'banana']