### EXERCISE LEVEL 1

#### QUESTION 1

In [1]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
Lenght_it_companies = len(it_companies)


print("Lenght of IT company:", Lenght_it_companies)

Lenght of IT company: 6

#### QUESTION 2

In [1]:
# Given set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'}

# Add 'Tata' to it_companies
it_companies.add('Tata')
print("After adding 'Tata':", it_companies)

After adding 'Tata': {'IBM', 'Microsoft', 'Tata', 'Apple', 'Google', 'Oracle', 'Facebook'}

#### QUESTION 3

In [3]:
# Given set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'}

# Insert multiple IT companies at once to the set it_companies
it_companies.update({'LinkedIn', 'Tata', 'Tech Mehindra'})

print("After adding multiple companies:", it_companies)

After adding multiple companies: {'IBM', 'Facebook', 'Tata', 'Tech Mehindra', 'LinkedIn', 'Apple', 'Google', 'Oracle', 'Microsoft'}

#### QUESTION 4 and 5

In [4]:
# Given set it_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Remove one of the companies from the set it_companies
it_companies.remove('Microsoft')
print("After removing 'Microsoft':", it_companies)

# Difference between remove and discard:
# The remove method raises a KeyError if the specified element is not present,
# while the discard method does nothing (no error) if the element is not present.

After removing 'Microsoft': ['Facebook', 'Google', 'Apple', 'IBM', 'Oracle']

### EXERCISE LEVEL 2

#### QUESTION 1

In [7]:
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
union = A.union(B)

print("A union B:", union)

A union B: {19, 20, 22, 24, 25, 26, 27, 28}

#### QUESTION 2

In [5]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Find A intersection B
intersection_set = A.intersection(B)
print("A intersection B:", intersection_set)

A intersection B: {19, 20, 22, 24, 25, 26}

#### QUESTION 3

In [6]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Is A subset of B
is_A_subset_of_B = A.issubset(B)
print("Is A subset of B?", is_A_subset_of_B)

Is A subset of B? True

#### QUESTION 4

In [7]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Are A and B disjoint sets
are_A_and_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets?", are_A_and_B_disjoint)

Are A and B disjoint sets? False

#### QUESTION 5

In [8]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A with B and B with A
joined_set_2 = A.union(B)
joined_set_3 = B.union(A)
print("Join A with B:", joined_set_2)
print("Join B with A:", joined_set_3)

Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}

#### QUESTION 6

In [9]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# What is the symmetric difference between A and B
symmetric_difference_set = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference_set)

Symmetric difference between A and B: {27, 28}

In [13]:
# Given sets A and B
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
systematic_difference = A.symmetric_difference(B)

print("Systematic difference between A and B:", systematic_difference)

Systematic difference between A and B: {27, 28}

#### QUESTION 7

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
A = {19, 22, 24,20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = (22, 19, 24, 25, 26, 24, 25, 24)
del it_companies, A, B,age

### EXERCISE LEVEL 3

#### QUESTION 1

In [26]:
# Given list of ages
age = (22, 19, 24, 25, 26, 24, 25, 24)
lenght_age_list = len(age)

print("Lenght of age list:", age)

Lenght of age list: (22, 19, 24, 25, 26, 24, 25, 24)

In [36]:
# Given list of ages
age = (22, 19, 24, 25, 26, 24, 25, 24)
age_set = set(age)
lenght_age_set = len(age_set)

print("Lenght of age set:", age_set)

TypeError: 'str' object is not callable

#### QUESTION 2

In [14]:
# Difference between 'String', 'List', 'Tuple' and 'Set'
string = "Any data type written as a text"
list = "Is a collection which is ordered and changeable"
tuple = "Is a collection which is ordered and unchangeable"
set = "Is a collection which is unordered, un-indexed and unmodifiable" 

print("String:", string)
print("List:", list)
print("Tuple:", tuple)
print("Set:", set)

String: Any data type written as a text
List: Is a collection which is ordered and changeable
Tuple: Is a collection which is ordered and unchangeable
Set: Is a collection which is unordered, un-indexed and unmodifiable

#### QUESTION 3

In [38]:
sentence = "I am a teacher and i love to inspire and teach people"
unique_words = set(sentence.split())


print("Number of unique words:", unique_words)

TypeError: 'str' object is not callable

In [39]:
number_of_unique_words = {'I', 'am', 'a', 'teacher', 'love', 'teach', 'i', 'people', 'inspire', 'to', 'and'}
num_unique_words = len(unique_words)
print("Number of unique word:", num_unique_words)

NameError: name 'unique_words' is not defined